@import "mixins";

/* ========================================== */
/* Utility classes */
/* ======================================== */

/* Text/ Image Replacement */
.ir {  
  display: block;
  vertical-align: top;
  position: relative; 
  border: 0; 
  text-indent: -999em; 
  overflow: hidden; 
  background-color: transparent; 
  background-repeat: no-repeat; 
  text-align: left; 
  direction: ltr; 
  *line-height: 0; 
}
.ir br { 
  display: none; 
}
.iir { 
  display: inline-block;
  vertical-align: top;
  position: relative; 
  border: 0; 
  text-indent: -999em; 
  overflow: hidden; 
  background-color: transparent; 
  background-repeat: no-repeat; 
  text-align: left; 
  direction: ltr; //*line-height: 0; *display: inline; *zoom: 1;
} 
.lt-ie8 .iir {
  //vertical-align: middle;
}

/* ======================================= */
/* Vertical align - http://css-tricks.com/centering-in-the-unknown/  */
// This parent can be any width and height 
.va {
  text-align: center;
  white-space: normal;

  // The element to be centered, can also be of any width and height 
  span {
    display: inline-block;
    vertical-align: middle;
  }
}
// The ghost, nudged to maintain perfect centering 
.va:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  // Adjusts for spacing
  margin-top: 4px;
  //margin-right: -0.25em; 
}

.list-dividers {
  li {
    position: relative;
  }
  li:after {
    display: block;
    content: '|';
    position: absolute;
    top: 0px;
    left: -3px;
  }
  li:first-child:after {
    display: none;
  }
}


/* ======================================= */
/* Class helpers */
.inline-block { display: inline-block; }

.border-top { border-top: 1px solid #ececec; }
.border-bottom { border-bottom: 1px solid #ececec; }
@include mq(tablet-up) {
  .border-right { border-right: 1px solid #ececec; }
  .border-left { border-left: 1px solid #ececec; }
}
.white-bg { background-color: white !important; }

.mt-0  { margin-top: 0 !important; }
.mt-5  { margin-top: 5px !important; }
.mt-10 { margin-top: 10px !important; }
.mt-15 { margin-top: 15px !important; }
.mt-20 { margin-top: 20px !important; }
.mt-25 { margin-top: 25px !important; }
.mt-30 { margin-top: 30px !important; }
.mt-35 { margin-top: 35px !important; }
.mt-40 { margin-top: 40px !important; }
.mt-45 { margin-top: 45px !important; }
.mt-50 { margin-top: 50px !important; }
.mt-55 { margin-top: 55px !important; }
.mt-60 { margin-top: 60px !important; }
.mb-0  { margin-bottom: 0 !important; }
.mb-5  { margin-bottom: 5px !important; }
.mb-10 { margin-bottom: 10px !important; }
.mb-15 { margin-bottom: 15px !important; }
.mb-20 { margin-bottom: 20px !important; }
.mb-25 { margin-bottom: 25px !important; }
.mb-30 { margin-bottom: 30px !important; }
.mb-35 { margin-bottom: 35px !important; }
.mb-40 { margin-bottom: 40px !important; }
.mb-45 { margin-bottom: 45px !important; }
.mb-50 { margin-bottom: 50px !important; }
.mb-55 { margin-bottom: 55px !important; }
.mb-60 { margin-bottom: 60px !important; }