@import "compass";
@import "mixins";


// padding helpers
.padding-xs {
  padding: 10px 0;
  @include mq(tablet-up) { }
}
.padding-sm {
  padding: 25px 0;
  @include mq(tablet-up) { }
}
.padding-md {
  padding: 50px 0;
  @include mq(tablet-up) { }
}
.padding-lg {
  padding: 100px 0;
  @include mq(tablet-up) { }
}

// margin helpers
.margin-xs {
  margin: 10px 0;
  @include mq(tablet-up) { }
}
.margin-sm {
  margin: 25px 0;
  @include mq(tablet-up) { }
}
.margin-md {
  margin: 50px 0;
  @include mq(tablet-up) { }
}
.margin-lg {
  margin: 100px 0;
  @include mq(tablet-up) { }
}



// Max width helpers
.max-xs {
  max-width: 90%;
  @include mq(tablet-up) { max-width: 60%; }
  margin-right: auto;
  margin-left: auto;
}
.max-sm {
  max-width: 90%;
  @include mq(tablet-up) { max-width: 70%; }
  margin-right: auto;
  margin-left: auto;
}
.max-md {
  max-width: 90%;
  @include mq(tablet-up) { max-width: 80%; }
  margin-right: auto;
  margin-left: auto;
}
.max-lg {
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
}



// Text color helpers
.text-white {
  color: white !important;
}



// Text size helpers
.text-xs  {
  font-size: 10px !important;
	@include mq(tablet-up) { }
}
.text-sm  {
  font-size: 14px !important;
	@include mq(tablet-up) { }
}
.text-md  {
  font-size: 20px !important;
  @include mq(tablet-up) { }
  }
}
.text-lg  {
  font-size: 30px !important;
  @include mq(tablet-up) { }
}



// Section bg color helpers
.section-white {
  background-color: #fff;
}
.section-grey {
  background-color: #e6e6e6;
}
.section-orange {
  background: #d56127;
}
.section-blue {
  background: #343e48;
}
