// Colors
$brand-primary:         #F4721E; // primary orange
$brand-primary-dark:    #C15625; // darker orange
$brand-secondary:       #50a54c; // primary green
$brand-secondary-dark:  #006E41; // darker green
$brand-tertiary:        #015360; // teal

$brand-success:         #5cb85c;
$brand-info:            #5bc0de;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;
$gray:                  #3D3D3D;
$gray-dark:             #333333;

$btn-default-color:              #333 !default;
$btn-default-bg:                 #474747;
$btn-default-border:             #474747;

// General
$page-header-border-color: transparent;
$nav-link-hover-bg: transparent;

// Layout
$grid-float-breakpoint: 10000px; // never hide humbugur
$sidebar-width: 300px;

// Type
//$headings-font-family: "Lato", sans-serif;
$headings-font-weight: 300;

$font-size-base: 16px;
$font-size-h4: 18px;