@import "compass";
@import "mixins";

@import "bs-variables";
@import "bs-mixins";

@include mq(mobile-only) {
  .mobile-only {
    display: block;
  }
}
@include mq(tablet-only) {
  .tablet-only {
    display: block;
  }
}
@include mq(desktop-up) {
  .desktop-up {
    display: block;
  }
}


/* Global Plugins */
@import "plugins/animate-min";
@import "plugins/headroom";


/* Global Sprite Maps */
$global-sprite: sprite-map("sprites/global/*.png", $spacing: 10px);
$gs2x: sprite-map("sprites@2x/global/*.png", $spacing: 10px);
.i-close { @include retina-sprite($global-sprite, $gs2x, i-close); }


/* Typography */
html, html a { 
  @include font-smoothing();
}

body { font-family: $nice-font; font-weight: normal; }

h1, h2, h3 { font-family: $heading-font; font-weight: normal; }

.h-xxhuge {

}
.h-xhuge {

}
.h-huge {

}
.h-large {

}
@include mq(tablet-up) {
  .h-xxhuge {

  }
  .h-xhuge {

  }
  .h-huge {

  }
  .h-large {

  }
}

img {
  max-width: 100%;
}




/* Global Body */
.page-body {
  
  .container {

  }
}

/* Global Styles */
.content-section {

}







/* ======================================= */
/* Global Misc */
@import "utilities";