@import "compass";
@import "mixins";
@import "variables";


/* Global Partials */
@import "common/*";
@import "components/*";
@import "layout/*";


/* Global Plugins */
@import "plugins/animate-custom";
@import "plugins/headroom";


/* Global Sprite Maps */
$global-sprite: sprite-map("sprites/global/*.png", $spacing: 10px);
$gs2x: sprite-map("sprites@2x/global/*.png", $spacing: 10px);
.i-close { @include retina-sprite($global-sprite, $gs2x, i-close); }




img {
  max-width: 100%;
}




/* Global Body */
.page-body {
  
  .container {

  }
}

/* Global Styles */
.content-section {

}





