.page-header {
  margin: 0;
  padding: 35px 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  background: linear-gradient(to bottom, #5b4b57, #85707f);
  border-bottom: 0;

  .page-header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .hero-lg & {
    background: transparent;
  }

  .logo-brand {
    height: 35px;
  }
  
}