.page-header {
  margin: 0;
  padding: 25px 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;

  .logo-brand {
    display: inline-block;

    img {
      height: 50px;
    }
  }
  .navbar-toggle {
    margin: 0;
    border: 0;
    border-radius: 0;
  }
  .navbar-collapse {
    
    

    .nav {
      text-align: center;

      li {
        display: block;
      }
    }
  }
}
@include mobile-only() {
  .page-header {
    .navbar-collapse {
      background: #fff;
      position: absolute;
      top: 101px;
      right: 0;
      left: 0;
      
      .navbar-nav {
        height: 100vh !important;
      }
    }
  }
}
// @include mq(tablet-up) {
//   .page-header {
//     .navbar-collapse {
//       // asdf
//     }
//   }
// }
@include mq(tablet-up) {
  .page-header {
    .navbar-collapse {
      position: static;
      float: right;
      background: transparent;
    }
  }
}