
// reset ios input styling
input[type="text"],
input[type="submit"], 
textarea {
  -webkit-appearance:none;  
  -webkit-border-radius:0px;
}


::-webkit-input-placeholder {
   color: #444 !important;
}

:-moz-placeholder {
   color: #444 !important;  
}

::-moz-placeholder {
   color: #444 !important;  
}

:-ms-input-placeholder {  
   color: #444 !important;
}