/* Typography */
html, html a { 
  @include font-smoothing();
}

body { 

}

a:hover, a:focus {
  text-decoration: none;
}

h1, h2, h3 { 

}

.h1 {
  font-size: 28px;
  text-transform: uppercase;
}
.h2 {
  font-size: 24px;
  text-transform: uppercase;
}
.h3 {

}
.h4 {

}
@include mq(tablet-up) {
  .h1 {
    font-size: 48px;
  }
  .h2 {
    font-size: 38px;
  }
  .h3 {

  }
  .h4 {

  }
}
@include mq(desktop-up) {
  .h1 {
    font-size: 68px;
  }
  .h2 {
    font-size: 48px;
  }
  .h3 {

  }
  .h4 {

  }
}