extends ./_main.pug


block pageVariables
  -var bodyClass = "";
  -var activeMenuItem = '';

block pageMeta
  meta(title="H5KS | Layout patterns")

block pageHeadEnd
  style(type='text/css').
    body {
      padding-top: 100px;
    }
    .h2 {
      margin-bottom: 30px;
    }
    .btn-examples .btn {
      margin: 0 10px 10px 0;
    }
    .section-sm {
      padding-bottom: 50px;
    }


block pageBody
  div.page-body.animated.fadeIn.delay-xxs



    .container
      div.section-sm
        .text-center.mt-50.mb-50
          h2.h2 Layouts coming soon
          h4.h4 (hero sections, split content boxes, ect.)
