extends ./includes/layout.jade
block vars
	- bodyClass = "template-about"

block pageMeta
	meta(title="H5KS | About")
	meta(description="About us")

block pageHeadEnd
	link(rel="stylesheet" href="assets/css/page-about.css")


block pageBody
	div.container
		div.col-sm-9.col-sm-offset-3.mt-40.mb-40
			p When you get agents to build all their property and personal promotion materials in one place, it makes it very sticky. These platforms also ensure agents don’t screw up your company’s brand. Imprev has clearly leap-frogged the competition.” Brian Boero, Partner, 10000watt
	img(src="http://placehold.it/2000x600")
	div.container.text-center
		div.col-sm-4
			h2.h1 10 million
			div marketing pieces created
		div.col-sm-4
			h2.h1 30 million
			div Leads nurtured
		div.col-sm-4
			h2.h1 200k
			div agents served
	hr

	div.container
		h1.h1 What is Imprev
		ul.list-inline.mb-50
			li
				a(href="#") News Center
			li
				a(href="#") News Releases
			li
				a(href="#") News Coverage

		div.mb-20
			p.mb-50 We are 35 programmers, writers, designers and marketers based in Bellevue who have been creatively developing and designing fully integrated, branded and customized marketing products and solutions helping real estate brokers, franchises and MLS’s nurture and convert more of their leads into clients. 
			div.text-center
				a.btn.btn-lg.btn.btn-default(href="#") Get started with Imprev
	hr
	div.mt-20
		div.container
			h1.h1 A step back in time
			p.mb-40 Renwick Congdon had an idea how to help real estate companies build better, stronger and more meaningful relationships with people through the creation of on demand and automated marketing systems. Today, Imprev is the first name professionals go to for tuning
			div.col-sm-11.col-sm-offset-1.mb-40
				img(src="http://placehold.it/175x175")
				p(style="display: inline-block;") These things should support “Powered by creativity”.

			div
				img(src="http://placehold.it/1500x175")

		div.container.mb-50.mt-50
			div.col-sm-9.col-sm-offset-3
				p When you get agents to build all their property and personal promotion materials in one place, it makes it very sticky. These platforms also ensure agents don’t screw up your company’s brand. Imprev has clearly leap-frogged the competition.” Brian Boero, Partner, 10000watt
		hr
		div.container
			h1.h1 Meet our team

			div.col-sm-6.col-md-4.col-lg-3.mb-30
				div.text-center
					div
						img(src="http://placehold.it/75x75")
						h3.h3 Renwick Congdon. <br> Founder
						p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
					div
						hr
						ul.list-inline
							li
								a(href="#")
									img(src="http://placehold.it/25x25")
							li
								a(href="#")
									img(src="http://placehold.it/25x25")
							li
								a(href="#")
									img(src="http://placehold.it/25x25")
							li
								a(href="#")
									img(src="http://placehold.it/25x25")
							li
								a(href="#")
									img(src="http://placehold.it/25x25")
			div.col-sm-6.col-md-4.col-lg-3.mb-30
				div.text-center
					div
						img(src="http://placehold.it/75x75")
						h3.h3 Renwick Congdon. <br> Founder
						p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
					div
						hr
						ul.list-inline
							li
								a(href="#")
									img(src="http://placehold.it/25x25")
							li
								a(href="#")
									img(src="http://placehold.it/25x25")
							li
								a(href="#")
									img(src="http://placehold.it/25x25")
							li
								a(href="#")
									img(src="http://placehold.it/25x25")
							li
								a(href="#")
									img(src="http://placehold.it/25x25")
			div.col-sm-6.col-md-4.col-lg-3.mb-30
				div.text-center
					div
						img(src="http://placehold.it/75x75")
						h3.h3 Renwick Congdon. <br> Founder
						p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
					div
						hr
						ul.list-inline
							li
								a(href="#")
									img(src="http://placehold.it/25x25")
							li
								a(href="#")
									img(src="http://placehold.it/25x25")
							li
								a(href="#")
									img(src="http://placehold.it/25x25")
							li
								a(href="#")
									img(src="http://placehold.it/25x25")
							li
								a(href="#")
									img(src="http://placehold.it/25x25")
			div.col-sm-6.col-md-4.col-lg-3.mb-30
				div.text-center
					div
						img(src="http://placehold.it/75x75")
						h3.h3 Renwick Congdon. <br> Founder
						p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
					div
						hr
						ul.list-inline
							li
								a(href="#")
									img(src="http://placehold.it/25x25")
							li
								a(href="#")
									img(src="http://placehold.it/25x25")
							li
								a(href="#")
									img(src="http://placehold.it/25x25")
							li
								a(href="#")
									img(src="http://placehold.it/25x25")
							li
								a(href="#")
									img(src="http://placehold.it/25x25")
			div.col-sm-6.col-md-4.col-lg-3.mb-30
				div.text-center
					div
						img(src="http://placehold.it/75x75")
						h3.h3 Renwick Congdon. <br> Founder
						p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
					div
						hr
						ul.list-inline
							li
								a(href="#")
									img(src="http://placehold.it/25x25")
							li
								a(href="#")
									img(src="http://placehold.it/25x25")
							li
								a(href="#")
									img(src="http://placehold.it/25x25")
							li
								a(href="#")
									img(src="http://placehold.it/25x25")
							li
								a(href="#")
									img(src="http://placehold.it/25x25")





























