extends ./includes/layout.jade
block vars
	- bodyClass = "template-blogs"

block pageMeta
	meta(title="H5KS | Blog")
	meta(description="Blogs")

block pageHeadEnd
	link(rel="stylesheet" href="assets/css/page-blog.css")


block pageBody
	div.jumbotron
			div.container 
				h1 Blog page is full of blog posts
				p Nullam ac porttitor neque. Morbi quis erat et sapien pellentesque semper a nec mauris. Maecenas malesuada es sapien pellentesque congue et ut dolor. Aliquam id faucibus ligula, et suscipit risus.