extends ./includes/_main.jade
block pageVariables
	-var bodyClass = "template-main";
	-var activeMenuItem = 'Home';

block pageMeta
	meta(title="")

block pageHeadEnd
	link(rel="stylesheet" href="assets/css/page-home.css")


block pageBody
	div.page-body.animated.fadeIn.delay_5s
		div.jumbotron
			div.container 
				h1 A template to start with for your next custom website
				p We use the some of the latest technologies in the front end web development world. Some of these tools are: Codekit, Compass, Jade, Sass and much more!
				a.btn.btn-lg.btn-success(href="about.html") Learn more


	div.container
		div.row
			div.col-sm-4
				div.thumbnail
					img(src="http://placehold.it/700x400" alt="")
					div.caption
						h3.h3 Thumbnail label
						p Nullam ac porttitor neque. Morbi quis erat et sapien pellentesque semper a nec mauris. Maecenas malesuada es sapien pellentesque congue et ut dolor. Aliquam id faucibus ligula, et suscipit risus.
						p
							a.btn.btn-primary.mr-5(href="#" role="button") Button
							a.btn.btn-default(href="#" role="button") Button
			div.col-sm-4
				div.thumbnail
					img(src="http://placehold.it/700x400" alt="")
					div.caption
						h3.h3 Thumbnail label
						p Nullam ac porttitor neque. Morbi quis erat et sapien pellentesque semper a nec mauris. Maecenas malesuada es sapien pellentesque congue et ut dolor. Aliquam id faucibus ligula, et suscipit risus.
						p
							a.btn.btn-primary.mr-5(href="#" role="button") Button
							a.btn.btn-default(href="#" role="button") Button
			div.col-sm-4
				div.thumbnail
					img(src="http://placehold.it/700x400" alt="")
					div.caption
						h3.h3 Thumbnail label
						p Nullam ac porttitor neque. Morbi quis erat et sapien pellentesque semper a nec mauris. Maecenas malesuada es sapien pellentesque congue et ut dolor. Aliquam id faucibus ligula, et suscipit risus.
						p
							a.btn.btn-primary.mr-5(href="#" role="button") Button
							a.btn.btn-default(href="#" role="button") Button