extends ./templates/_main.jade
block pageVariables
  -var bodyClass = "template-main home";
  -var activeMenuItem = 'Home';

block pageMeta
  meta(title="")

block pageHeadEnd
  link(rel="stylesheet" href="assets/css/page-home.css")


block pageBody
  div.page-body.animated.fadeIn.delay-xxs
    div.jumbotron
      div.container
        div.mw-90 
          h1.h1 Kickstart your next HTML5 project
          p Some of the awesome frameworks and tools: Bootstrap 3, Compass, Jade, Sass, and much more!
          p Suggested Tool: OS X <a href="https://incident57.com/codekit/">Codekit</a>; Windows <a href="https://prepros.io">Prespros</a>
          div.button-group
            a.btn.btn-lg.btn-success-inverse(href="sitemap.html") Sitemap
            a.btn.btn-lg.btn-success.ml-15(href="styles.html") Styles
          

  div.container
    div.row
      div.col-sm-4
        div.thumbnail
          img(src="http://placehold.it/700x400" alt="")
          div.caption
            h3.h3 Thumbnail label
            p Nullam ac porttitor neque. Morbi quis erat et sapien pellentesque semper a nec mauris. Maecenas malesuada es sapien pellentesque congue et ut dolor. Aliquam id faucibus ligula, et suscipit risus.
            p
              a.btn.btn-primary.mr-5(href="#" role="button") Button
              a.btn.btn-default(href="#" role="button") Button
      div.col-sm-4
        div.thumbnail
          img(src="http://placehold.it/700x400" alt="")
          div.caption
            h3.h3 Thumbnail label
            p Nullam ac porttitor neque. Morbi quis erat et sapien pellentesque semper a nec mauris. Maecenas malesuada es sapien pellentesque congue et ut dolor. Aliquam id faucibus ligula, et suscipit risus.
            p
              a.btn.btn-primary.mr-5(href="#" role="button") Button
              a.btn.btn-default(href="#" role="button") Button
      div.col-sm-4
        div.thumbnail
          img(src="http://placehold.it/700x400" alt="")
          div.caption
            h3.h3 Thumbnail label
            p Nullam ac porttitor neque. Morbi quis erat et sapien pellentesque semper a nec mauris. Maecenas malesuada es sapien pellentesque congue et ut dolor. Aliquam id faucibus ligula, et suscipit risus.
            p
              a.btn.btn-primary.mr-5(href="#" role="button") Button
              a.btn.btn-default(href="#" role="button") Button

    block pageFooterScripts