extends ./includes/layout.jade
block vars
	- bodyClass = "template-home"

block pageMeta
	meta(title="H5KS")
	meta(description="Home")

block pageHeadEnd
	link(rel="stylesheet" href="assets/css/page-home.css")


block pageBody
	div.page-body.animated.fadeIn.delay_5s
		div.jumbotron
			div.container Sup

		div.container
			div Content