extends ./includes/_main.jade
block pageVariables
  -var bodyClass = "template-main";
  -var activeMenuItem = '';

block pageMeta
  meta(title="AgentHero page styles")

block pageHeadEnd
  link(rel="stylesheet" href="assets/css/page-home.css")
  style(type='text/css').
    body {
      padding-top: 100px;
    }
    .h2 {
      margin-bottom: 30px;
    }
    .btn-examples .btn {
      margin: 0 20px 20px 0;
    }
    

block pageBody
  div.page-body.animated.fadeIn.delay_5s
    .mt-40.mb-40

      .container.pt-40.pt-10
        h2.h2 Standard Buttons
        div.btn-examples
          a(href="#").btn.btn-default btn-default
          a(href="#").btn.btn-light btn-light
          a(href="#").btn.btn-dark btn-dark
          a(href="#").btn.btn-primary btn-primary
          a(href="#").btn.btn-secondary btn-secondary
          a(href="#").btn.btn-tertiary btn-tertiary
          a(href="#").btn.btn-success btn-success
          a(href="#").btn.btn-info btn-info
          a(href="#").btn.btn-warning btn-warning
          a(href="#").btn.btn-danger btn-danger

      .bg-light-grey.pt-20.pb-10
        .container.mt-40
          h2.h2 Inverse Buttons
          div.btn-examples
            a(href="#").btn.btn-default-inverse btn-default-inverse
            a(href="#").btn.btn-light-inverse btn-light-inverse
            a(href="#").btn.btn-dark-inverse btn-dark-inverse
            a(href="#").btn.btn-primary-inverse btn-primary-inverse
            a(href="#").btn.btn-secondary-inverse btn-secondary-inverse
            a(href="#").btn.btn-tertiary-inverse btn-tertiary-inverse
            a(href="#").btn.btn-success-inverse btn-success-inverse
            a(href="#").btn.btn-info-inverse btn-info-inverse
            a(href="#").btn.btn-warning-inverse btn-warning-inverse
            a(href="#").btn.btn-danger-inverse btn-danger-inverse

      .container.mt-40
        h2.h2 Button Layouts
        div.row.mb-20
          div.col-xs-6
            a(href="#").btn.btn-primary.btn-block btn-block
          div.col-xs-6
            a(href="#").btn.btn-secondary.btn-block btn-block
        div.btn-group.btn-group-primary
          a(href="#").btn.btn-primary btn-group
          a(href="#").btn.btn-primary-inverse btn-group

      .container.mt-40
        h2.h2 Form Elements
        form.form-inline
            .form-group
              label.icon.icon-mail
              input.form-control(type='text', placeholder='form-inline')
            button.btn.btn-tertiary.btn-sm(type='submit') Submit
        div.row.mt-40.mb-20
          div.col-sm-6
            .form-group
              label.icon.icon-mail
              input.form-control(type='text', placeholder='col-sm-6 with icon')
          div.col-sm-6
            .form-group
              input.form-control(type='text', placeholder='col-sm-6 without icon')
        div.row.mt-40.mb-20
          div.col-sm-6
            .form-group
              textarea.form-control(type='textarea', placeholder='textarea with Autogrow plugin')
        
        div.row.mt-40.mb-20
          div.col-sm-4
            select.with-icon.location-icon(style='width:100%')
              option(selected) Select2 plugin
              option Fort Hood, TX
              option Camp Lejeune, NC
              option Camp Pendleton, CA
              option Fort Lewis-McCord, WA
              option Fort Dix-McGuire, NJ
              option Fort Campbell, KY
              option Norfolk Navy Base, VA
              option Eglin AFB, FL
              option Fort Bragg, NC
              option Fort Benning, GA
          div.col-sm-4
            select(style='width:260px')
              option(selected) Select without icon
              option Fort Hood, TX
              option Camp Lejeune, NC
              option Camp Pendleton, CA
              option Fort Lewis-McCord, WA
              option Fort Dix-McGuire, NJ
              option Fort Campbell, KY
              option Norfolk Navy Base, VA
              option Eglin AFB, FL
              option Fort Bragg, NC
              option Fort Benning, GA
          div.col-sm-4
            select.with-search(style='width:100%')
              option(selected) Select with search
              option Fort Hood, TX
              option Camp Lejeune, NC
              option Camp Pendleton, CA
              option Fort Lewis-McCord, WA
              option Fort Dix-McGuire, NJ
              option Fort Campbell, KY
              option Norfolk Navy Base, VA
              option Eglin AFB, FL
              option Fort Bragg, NC
              option Fort Benning, GA

    


    


