.navbar-nav {
  text-align: center;

	a {
		color: #363636;
		@include tablet-up() { color: #f7f0f5; }

		&:before {
			display: block;
			content: '';
			height: 1px;
			position: absolute;
			right: 15px;
			bottom: 0;
			left: 15px;
			background-color: #f7f0f5;
			transform: scaleX(0);
			transform-origin: left;
			transition: transform .1s ease-in-out;
		}

		&:hover {
			&:before {
				@include tablet-up {
					transform: scaleX(1);
				}
			}
		}
	}
}

.navbar-btn {
  display: inline-block;
  margin: 0;
  position: relative;
  top: 4px;

  @include tablet-up {
    .navbar-nav {
      float: left;
      margin: 0;
    }
  }



  .btn {
    @include mobile-only { margin-right: 15px; margin-left: 15px; }
    @include tablet-up { margin-left: 15px; }
    &:hover {
      
    }
  }
}



.navbar-toggle {
  margin: 0;
  padding-top: 0;
  border: 0;
  border-radius: 0;
}
.navbar-collapse {
  text-align: center;

  .nav {
    li {
      display: block;
    }
  }
}
@include mobile-only() {
  .navbar-collapse {
    background: #fff;
    position: absolute;
    top: 105px;
    .headroom--not-top & {top: 65px;}
    right: 0;
    left: 0;
    
    .navbar-nav {
     // height: 100vh !important;
    }
  }

}

@include mq(tablet-up) {

  .navbar-collapse {
    position: static;
    float: right;
    background: transparent;
  }

}