/* Global Body */
.page-body {
  
  .container {

  }
}

.break-word {
  display: inline-block;
  word-wrap: break-word;
}

// Background Styles
.bg-light {
  background: white;
}
.bg-dark {
  background: $gray-dark;
}

.bg-light-grey {
  background-color: #E6E6E6;
}