/* Typography */
html, html a { 
  @include font-smoothing();
}

body { 

}

// Reset links
a:hover, a:focus {
  outline: none;
}



//h1, h2, h3, h4, h5, h6, 
.h1, .h2, .h3, .h4, .h5, .h6 {
  
} 


// Font sizes
.h1 {
  
}
.h2 {
  
}
.h3 {
  
}
.h4 {

}
@include mq(tablet-up) {
  .h1 {
   
  }
  .h2 {
    
  }
  .h3 {

  }
  .h4 {

  }
}
@include mq(desktop-up) {
  .h1 {
    
  }
  .h2 {
    
  }
  .h3 {

  }
  .h4 {

  }
}


// Heading styles
.fancy-heading {

}

.text-secondary {
  color: $brand-secondary;
}


// Text helpers
.text-sm { font-size: 16.67px !important; }
.text-md { font-size: 17.71px !important; }
.text-lg { font-size: 18.75px !important; }
.text-xl { font-size: 33.33px !important; }

.text-uppercase {
  text-transform: uppercase;
}

// Font weight overrides
.fw-light { font-weight: $fw-light !important;  }
.fw-regular { font-weight: $fw-regular !important; }
.fw-semibold { font-weight: $fw-semibold !important; }
.fw-bold { font-weight: $fw-bold !important; }


