// Global Header
.page-header {
  margin: 0;
  padding: 15px;
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.50);
  border-radius: 0;
  z-index: 10;

  .info-wrap {

    .detail {
      color: #E6E6E6;
      font-size: 10px;
      font-weight: 500;
      line-height: 5px;
      text-transform: uppercase;
    }
    .phone {
      font-family: georgia;
      font-size: 18px;
      font-weight: 600;
    }
  }
  .logo-brand {
    display: inline-block;
    max-width: 70%;

    img {
      width: 160px;
    }
  }
  .icon-bar {
    background-color: #fff;
  }
  .navbar-collapse {
    width: 100%;
    box-shadow: none;
  }
  .navbar-toggle {
    margin: 0;
    padding-right: 0;
  }
  .navbar-nav {
    margin-top: -5px;
    font-size: 18px;
    text-align: right;

    li {
      display: block;
    }
    a {
      padding: 10px 0;
      color: #fff;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
  }
}
@include mq(tablet-up) {
  .page-header {
    padding: 15px 50px;
    .navbar-toggle {
      position: absolute;
      top: 13px;
      right: 50px;
    }
  }
}
@include mq(desktop-up) {
  .page-header {
    .navbar-nav {
      position: absolute;
      top: 23px;
      right: 50px;

      li {
        padding-left: 10px;
        padding-right: 10px;

        &:last-child {
          padding-right: 0px;
        }
      }
      a {
        padding: 5px;
        border-bottom: 1px solid transparent;

        &:last-child {
          padding-right: 0px;
        }

        &:hover {
          border-bottom: 1px solid #CE4283;
        }
      }
    }
  }
}