.page-header {
  margin: 0;
  padding: 20px 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;

  .logo-brand {
    display: inline-block;

    img {
      height: 50px;
    }
  }
  .navbar-toggle {
    .icon-bar {
      background-color: #F07D6E;
    }
  }
  .navbar-collapse {
    background: #fff;

    .nav {
      text-align: center;

      li {
        display: block;
      }
    }
  }
}
@include mq(tablet-up) {
  .page-header {
    .navbar-collapse {
      position: absolute;
      left: 0;
      right: 0;
    }
  }
}
@include mq(desktop-up) {
  .page-header {
    .navbar-collapse {
      position: static;
      float: right;
      background: transparent;
    }
  }
}