extends ./_main.pug


block pageVariables
  -var bodyClass = "page-template-page-home";
  -var activeMenuItem = 'Home';

block pageMeta
  meta(title="")

block pageHeadEnd
  //link(rel="stylesheet" href="assets/css/page-home.css")


block pageBody
  div.page-body.animated.fadeIn.delay-xxs
    div.hero-wrap
      div.container
        div.mw-90
          h1.h1  Project Kickstarter
          p.ml-5 Using Bootstrap and Gulp


  div.container.mb-50
    div.row
      div.col-sm-4
        div.thumbnail
          img(src="http://placehold.it/700x400" alt="")
          div.caption
            h3.h3 Vulputate Nibh Dapibus
            p Nullam ac porttitor neque. Morbi quis erat et sapien pellentesque semper a nec mauris. Maecenas malesuada es sapien pellentesque congue et ut dolor. Aliquam id faucibus ligula, et suscipit risus.
            .btn-group
              a.btn.btn-primary-inverse.mr-5(href="#" role="button") Button
              a.btn.btn-primary(href="#" role="button") Button
      div.col-sm-4
        div.thumbnail
          img(src="http://placehold.it/700x400" alt="")
          div.caption
            h3.h3 Magna Vehicula Tortor
            p Nullam ac porttitor neque. Morbi quis erat et sapien pellentesque semper a nec mauris. Maecenas malesuada es sapien pellentesque congue et ut dolor. Aliquam id faucibus ligula, et suscipit risus.
            .btn-group
              a.btn.btn-primary-inverse.mr-5(href="#" role="button") Button
              a.btn.btn-primary(href="#" role="button") Button
      div.col-sm-4
        div.thumbnail
          img(src="http://placehold.it/700x400" alt="")
          div.caption
            h3.h3 Ullamcorper Venenatis
            p Nullam ac porttitor neque. Morbi quis erat et sapien pellentesque semper a nec mauris. Maecenas malesuada es sapien pellentesque congue et ut dolor. Aliquam id faucibus ligula, et suscipit risus.
            .btn-group
              a.btn.btn-primary-inverse.mr-5(href="#" role="button") Button
              a.btn.btn-primary(href="#" role="button") Button

    block pageFooterScripts
