// Fonts
@mixin font-smoothing() {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

// Vertical align anything with css3
@mixin va($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
// Use: @include vertical-align();


// BS clearfix
@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}


// CSS3 animations
@mixin animation-delay($delay) {
  -webkit-animation-delay: $delay;
  -moz-animation-delay: $delay;
  -ms-animation-delay: $delay;
  -o-animation-delay: $delay;
  animation-delay: $delay;
}
@mixin animation-duration($delay) {
  -webkit-animation-duration: $delay;
  -moz-animation-duration: $delay;
  -ms-animation-duration: $delay;
  -o-animation-duration: $delay;
  animation-duration: $delay;
}

// keyframes mixin
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
@mixin animation-name($name) {
  -webkit-animation-name: $name;
  -moz-animation-name: $name;
  -o-animation-name: $name;
  animation-name: $name;
}



// Media Queries
@mixin mq($point, $width:'') {
  @if $point == large-desktop-up {
    @media (min-width: 1200px) { @content; }
  }
  @if $point == desktop-up {
    @media (min-width: 992px) { @content; }
  }
  @if $point == desktop-only {
    @media (min-width: 992px) and (max-width: 1199px) { @content; }
  }
  @else if $point == tablet-up {
    @media (min-width: 768px) { @content; }
  }
  @else if $point == tablet-only {
    @media (min-width: 768px) and (max-width: 991px) { @content; }
  }
  @else if $point == mobile-only {
    @media (max-width: 767px) { @content; }
  }
  @else if $point == custom-min {
    @media screen and (min-width: $width)  { @content; }
  }
  @else if $point == custom-max {
    @media screen and (max-width: $width)  { @content; }
  }
}

@mixin large-desktop-up() { @media (min-width: 1200px) { @content; } }
@mixin desktop-up() { @media (min-width: 992px) { @content; } }
@mixin desktop-only() { @media (min-width: 992px) and (max-width: 1199px) { @content; } }
@mixin tablet-up() { @media (min-width: 768px) { @content; } }
@mixin tablet-only() { @media (min-width: 768px) and (max-width: 991px) { @content; } }
@mixin mobile-only() { @media (max-width: 767px) { @content; } }
@mixin custom-min($width: '') { @media screen and (min-width: $width)  { @content; } }
@mixin custom-max($width: '') { @media screen and (max-width: $width)  { @content; } }
