@import "mixins";

/* ========================================== */
/* Utility classes */
/* ======================================== */


// Alignment
.align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.center-block {
  float: none;
}
.relative {
  position: relative !important;
}



// Control spacing
$i: 0;

@while $i < 65 {

  .mt-#{$i} { margin-top: #{$i}px; }
  .mb-#{$i} { margin-bottom: #{$i}px; }
  .mr-#{$i} { margin-right: #{$i}px; }
  .ml-#{$i} { margin-left: #{$i}px; }

  .pt-#{$i} { padding-top: #{$i}px; }
  .pb-#{$i} { padding-bottom: #{$i}px; }
  .pr-#{$i} { padding-right: #{$i}px; }
  .pl-#{$i} { padding-left: #{$i}px; }

  $i: $i + 5;
}




// Padding space
.padding-xs {
  padding: 10px 0;
  @include mq(tablet-up) { }
}
.padding-sm {
  padding: 25px 0;
  @include mq(tablet-up) { }
}
.padding-md {
  padding: 50px 0;
  @include mq(tablet-up) { }
}
.padding-lg {
  padding: 100px 0;
  @include mq(tablet-up) { }
}
// Margin space
.margin-xs {
  margin: 10px 0;
  @include mq(tablet-up) { }
}
.margin-sm {
  margin: 25px 0;
  @include mq(tablet-up) { }
}
.margin-md {
  margin: 50px 0;
  @include mq(tablet-up) { }
}
.margin-lg {
  margin: 100px 0;
  @include mq(tablet-up) { }
}


// Max width helpers
.max-xs {
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
  @include mq(tablet-up) { max-width: 60%; }
}
.max-sm {
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
  @include mq(tablet-up) { max-width: 70%; }
}
.max-md {
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
  @include mq(tablet-up) { max-width: 80%; }
}
.max-lg {
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
}




// Animation delays
.delay-xxxs { @include animation-delay(.2s); }
.delay-xxs { @include animation-delay(.35s); }
.delay-xs { @include animation-delay(.5s); }
.delay-sm { @include animation-delay(1s); }
.delay-md { @include animation-delay(1.5s); }
.delay-lg { @include animation-delay(2s); }



