// Colors
$body-bg: #fff;
$text-color: #8A8A89;

$brand-primary:         #ff5f5f;
$brand-primary-dark:    $brand-primary;
$brand-secondary:       #4FA75D;
//$brand-secondary-dark:  $brand-secondary;
//$brand-secondary-alt:   #3B5169;
$brand-tertiary:        #B29CCC;

$brand-success:         #4FA75D;
$brand-info:            #5bc0de;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;
$gray-lighter:          #B0B4BA;
$gray-light:            #DCDCDC;
$gray:                  #3D3D3D;
$gray-dark:             #505050;
$black:                 #000000;
$white:                 #ffffff;
$black-dark:            #423651;

// Misc Colors
$misc-colors: 
  gray $gray,
  red $brand-primary;

// Usage 
// .item {
//   @each $type in $misc-colors {
//     &.item-#{nth($type, 1)}:before {
//       background-color: #{nth($type, 2)};
//     }
//   }
// }



// Fonts
$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-base: $font-family-sans-serif;

$font-primary: $font-family-base;
$font-secondary: "Proxima Nova", sans-serif;
$font-tertiary: '';

$font-size-base: 16.67px;


// Font weights
$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 600;
$fw-bold: 700;




// Headings
$headings-font-family: $font-secondary;
$headings-font-weight: 400;
$headings-line-height: 1.1;
$headings-color: #454545;
$font-size-h1: 37.5px;
$font-size-h2: 33.33px;
$font-size-h3: 16.67px;
$font-size-h4: 16.67px;


// Links
$link-color: $brand-primary;
$link-hover-color: $brand-primary;
$link-hover-decoration: none;



// Buttons
$btn-border-radius-base:   0;
$btn-border-radius-large:  0;
$btn-border-radius-small:  0;
$btn-default-color: #696969 !default;
$btn-default-bg: #000;
$btn-default-border: #5694DF;
$btn-font-weight: 400;



// Header
$page-header-border-color: transparent;



// Alerts
$state-success-text: $brand-success;
$state-info-text: $brand-warning;
$state-warning-text: $brand-warning;
$state-danger-text: $brand-danger;



// Navbar
$navbar-height: 50px;
$navbar-border-radius: 0;
$navbar-padding-horizontal: 0;
$navbar-margin-bottom: 0;
$navbar-default-link-color: #FFFFFF;
$navbar-default-brand-hover-color: #FFF;
$navbar-default-link-hover-color: #fff;
$navbar-default-bg: transparent;
$nav-link-hover-bg: transparent;



// Layout
//$grid-float-breakpoint: 992px; // never hide humbugur
$sidebar-width: 300px;



// Form
$input-color: $gray-dark;



// Modal
$modal-backdrop-bg: #000;
$modal-backdrop-opacity: .7;


// Misc

$hr-border: #e6e6e6;


